<div class="row">
<div class="col-md-12">
<h1>New Board</h1>
<%= render "form" %>
<hr>
<h1>My Boards</h1>
<%= render @boards %>
</div>
</div>

<div class="row">
<div class="col-md-12">
<%= link_to "Archived Boards", archived_path, class: "pull-right" %>
</div>
</div>